# IDEs
.vscode/

# Sensitive
.env

# Data
data/nocontext.txt
tournaments/

# Scripts
push_text.sh

# Media
media/*.ogg
media/*.otf
media/*.ttf

# html
html/
!html/*.hbs

# Temp output
ffmpeg-concat-files.txt
logs*/

# Added by cargo
/target
