## IDEs
.vscode/

## Resources 
# Sensitive
.env

# Data
res/nocontext.txt
res/servers.toml
res/strings.toml

# Media
res/media/*.ogg
res/media/*.otf
res/media/*.ttf
res/media/file_missing.png

# html
res/html/*
!res/html/*.hbs

## Helper Scripts
scripts/install-*.sh

## Output
ffmpeg-concat-files.txt
logs*/
res/saved/

# Added by cargo
target/

# Other
tournaments/
tmp/