<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                background: black;
                margin: 0;
                padding: 0;
            }

            .text {
                font-family: 'Textile';
                color: white;
                border: none;
                line-height: 1.5;
                margin: 0 auto;
                font-size: 4em;
                text-align: center;
            }

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1920px;
                height: 1080px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="text">{{{text}}}</div>
        </div>
    </body>
</html>